<div th:fragment="worksheet-customer">


    <table id="customer" class="display" style="width:100%">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>Név</th>
            <th>Cím</th>
            <th>E-mail cím</th>
            <th>Telefonszám</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}" hidden></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.address1.cityName}+ ' ' +${customer.address1.address}"></td>
            <td th:text="${customer.emailAddress}"></td>
            <td th:text="${customer.phoneNumber}"></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <div class="row">
        <div class="col-sm-9 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <div id="frameCustomer">
                        <div th:replace="~{/modules/worksheet/customer/worksheet-customer-fragment-empty :: empty}"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div th:replace="~{/modules/worksheet/worksheet-button-group :: buttons}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <form method="GET" action="JavaScript:worksheetCustomerCreate()">
        <input type="submit" id="create-form" hidden/>
    </form>


</div>
