<div th:fragment="logoutPopUp">
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutLabel">Kijelentkezés</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Biztosan ki szeretnél jelentkezni?
                </div>
                <div class="modal-footer">
                    <button class="btn button-view-rounded btn-warning" type="button" data-dismiss="modal">Mégsem
                    </button>
                    <a class="btn button-view-rounded btn-danger" type="button" href="/logout">Kijelentkezés</a>
                </div>
            </div>
        </div>
    </div>
</div>
