<div th:fragment="message" class="container-fluid text-center">
    <div th:if="${success != null}">
        <div th:if="${success}"
             class="alert alert-success"
             role="alert">
            <div th:if="${message == null}">
                <p>Sikeres művelet végrehajtás!</p>
            </div>
            <div th:unless="${message == null}">
                <div th:if="${messageLineTwo == null}">
                    <p th:text="${message}"></p>
                </div>
                <div th:unless="${messageLineTwo == null}">
                    <p th:text="${message}"></p>
                    <p th:text="${messageLineTwo}"></p>
                </div>
            </div>
        </div>
        <div th:unless="${success}"
             class="alert alert-danger"
             role="alert">
            <div th:if="${message == null}">
                <p>Sikertelen művelet végrehajtás!</p>
            </div>
            <div th:unless="${message == null}">
                <div th:if="${messageLineTwo == null}">
                    <p th:text="${message}"></p>
                </div>
                <div th:unless="${messageLineTwo == null}">
                    <p th:text="${message}"></p>
                    <p th:text="${messageLineTwo}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
