<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jelszó változtatás</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}">
</head>

<body>
<div class="container">
    <div th:insert="~{/common-fragments/message :: message}"></div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Változtasd meg a jelszavadat!</h1>
                                    <p class="text-center">Első bejelentkezéskor a generált jelszavadat meg kell
                                        változtatnod!</p>
                                </div>

                                <form class="user" method="post" th:action="@{/password/update}">

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="newPassword" placeholder="Jelszó" required th:name="password">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="newPasswordRe" placeholder="Jelszó újra" required
                                               th:name="passwordRe">
                                    </div>

                                    <hr>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Módosítás
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>