<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elfelejtett jelszó</title>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
</head>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <p class="text-center">Amennyiben elfelejtetted a jelszavadat kérlek lépj kapcsolatba a
                                    rendszer üzemeltetőjével!</p>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{login}">Vissza a bejelentkezéshez</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>